body {
    background: #eee;
    font-family: sans-serif;
    width: 400px;
    margin: auto;

}
h1 {
    color: black;
    font-size: 50px;
}
ul {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
li {
    margin: 20px;
}